<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face API Test</title>
  </head>
  <body>
    <canvas id="canvas"></canvas>

    <div id="container">
        <video id="video-feed" height="560" width="720" autoplay></video>
    </div>

  </body>
</html>

<style>
    #container {
        justify-content: center;
    }
    canvas {
        position: absolute;
    }
</style> 




<script src="./face-api.min.js"></script>
<script src="./scripts.js"></script> 



